@model IEnumerable<ForAfterwind.Models.PhotoAlbum>

@{
    ViewData["Title"] = "Photo";
}

    <div class="container">
        
        <div id="unhiddenInfo" class="row background__dark unhiddenPhoto">

        </div>

        <div id="hiddenInfo" class="row background__dark overflow-auto hiddenPhoto">

            @foreach (var el in Model)
            {
            <div class="photo-album col-md-3 col-sm-6">
                <div onclick="showAlbum(this)">
                    <h3>@el.Name</h3>
                    <button class="close">Close</button>
                    <img class="photo-album_cover" src="@Url.Content(el.PathToCover)" alt="" />

                </div>
                <div class="info hidden photos col-md">
                    <div id="grid" class="row overflow-auto no-gutters background__dark">
                        @foreach (var item in el.Photos)
                        {
                            <div>
                                <a class="fancybox" rel="@Url.Content(el.Name)" href="@Url.Content(item.PathToPhoto)">
                                    <img class="mini-photo" src="@Url.Content(item.PathToPhoto)" alt="" />
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
                
            }

        </div>
        

        

    </div>