@model IEnumerable<ForAfterwind.Models.Post>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Posts</h1>

<p>
    <a asp-action="CreatePost">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Thumbnail
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PostedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.CoverThumbnail != null && item.CoverThumbnail.Length > 0)
                    {

                        var base64 = Convert.ToBase64String(item.CoverThumbnail);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <img src="@imgSrc" />
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PostedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPost", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeletePost", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>




