<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Afterwind</title>

    <link rel="stylesheet" href="~/libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <link rel="stylesheet" href="~/libs/owlcarousel2/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/libs/owlcarousel2/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/libs/fancybox/jquery.fancybox.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="~/fonts/Main_font.ttf" />


</head>
<body>
    <div class="background__dark">
        <div class="container wrapper">
            <div class="row">
                <div class="d-flex col-lg-2 col-sm offset-lg-1 justify-content-sm-center">
                    <div class="logo">
                        <a href="#">
                            <img src="~/img/Logo_word.png" />
                        </a>
                    </div>
                    @* -----------Кнопка для мобильной навигации-------------- *@
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="col-lg-auto offset-lg-1 parent__menu">
                    <ul class="menu d-flex justify-content-center">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>

                        <li>
                            <a href="#">About Us</a>
                            <ul>
                                <li>
                                    @Html.ActionLink("Band", "Band", "About")
                                </li>

                                <li>
                                    @Html.ActionLink("Musicians", "Musicians", "About")
                                </li>
                            </ul>
                        </li>

                        <li>

                            <a href="#">Media</a>
                            <ul>
                                <li>
                                    @Html.ActionLink("Audio", "Audio", "Media")
                                </li>

                                <li>
                                    @Html.ActionLink("Video", "Video", "Media")
                                </li>

                                <li>
                                    @Html.ActionLink("Photo", "Photo", "Media")
                                </li>
                            </ul>
                        </li>

                        <li>
                            @Html.ActionLink("Merch", "Index", "Merch")
                        </li>

                        <li>
                            @Html.ActionLink("Blog", "Index", "Blog")
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <div class="container content">
        <div class="left">
            <ul>
                <li class="links__item">
                    <a href="https://vk.com/afterwindofficial" target="_blank">
                        <i class="fa fa-vk"></i>

                    </a>
                </li>
                <li class="links__item">
                    <a href="https://www.facebook.com/afterwindofficial" target="_blank">

                        <i class="fa fa-facebook-f"></i>
                    </a>
                </li>
                <li class="links__item">
                    <a href="https://www.instagram.com/afterwindband/" target="_blank">

                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li class="links__item">
                    <a href="https://www.last.fm/ru/music/Afterwind" target="_blank">

                        <i class="fa fa-lastfm"></i>
                    </a>
                </li>
                <li class="links__item">
                    <a href="https://soundcloud.com/afterwind" target="_blank">

                        <i class="fa fa-soundcloud"></i>
                    </a>
                </li>
                <li class="links__item">
                    <a href="https://www.youtube.com/c/Afterwind" target="_blank">

                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="right">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>


    <script src="~/libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/libs/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/libs/owlcarousel2/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>